In [1]:
import mysql.connector as connection

In [2]:
mydb = connection.connect(host="localhost",user="root",passwd="Abhishek@1067",use_pure=True)

In [3]:
mydb.is_connected()

True

In [37]:
import mysql.connector as connection

In [38]:
mydb = connection.connect(host="localhost",database="Abhishekdb",user="root",passwd="Abhishek@1067",use_pure=True)

In [49]:
mydb.is_connected()

True

In [40]:
cur = mydb.cursor()

In [41]:
mydb

In [42]:
#cur.execute("UPDATE test SET birhtdate = '2000-10-11' where Roll_No=22")

In [43]:
mydb.commit()

In [44]:
cur.execute("select * from test")

In [45]:
cur.fetchall()

[(22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8)),
 (22, 'Abhishek', datetime.date(1997, 3, 8))]

In [50]:
mydb.is_connected()

True

In [51]:
cur.execute("SET GLOBAL connect_timeout=6000")

In [53]:
cur.execute("select count('Abhishek') from abhishekdb.test group by Name")

In [54]:
cur.fetchall()

[(12,)]