In [3]:
import pandas as pd

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite://', echo=False)

In [4]:
df = pd.DataFrame({'name':['Abhishek', 'Divyesh', 'Vikrant']})

In [5]:
df

       name
0  Abhishek
1   Divyesh
2   Vikrant

In [6]:
df.to_sql('users', con=engine)

In [7]:
engine.execute("SELECT * FROM users").fetchall()

[(0, 'Abhishek'), (1, 'Divyesh'), (2, 'Vikrant')]

In [8]:
for i in engine.execute("SELECT * FROM users").fetchall():
    print(i)

(0, 'Abhishek')
(1, 'Divyesh')
(2, 'Vikrant')

In [11]:
df1 = pd.DataFrame({'name':['Panday','Suryansh']})
df1

       name
0    Panday
1  Suryansh

In [13]:
with engine.begin() as connection:
    df1.to_sql('users', con=connection, if_exists='append')

In [15]:
engine.execute("SELECT * FROM users").fetchall()

[(0, 'Abhishek'),
 (1, 'Divyesh'),
 (2, 'Vikrant'),
 (0, 'Panday'),
 (1, 'Suryansh')]

Examples
--------
Create an in-memory SQLite database.

>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite://', echo=False)

Create a table from scratch with 3 rows.

>>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
>>> df
     name
0  User 1
1  User 2
2  User 3

>>> df.to_sql('users', con=engine)
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

An `sqlalchemy.engine.Connection` can also be passed to `con`:

>>> with engine.begin() as connection:
...     df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
...     df1.to_sql('users', con=connection, if_exists='append')

This is allowed to support operations that require that the same
DBAPI connection is used for the entire operation.

>>> df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
>>> df2.to_sql('users', con=engine, if_exists='append')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
 (0, 'User 4'), (1, 'User 5'), (0, 'User 6'),
 (1, 'User 7')]

Overwrite the table with just ``df2``.

>>> df2.to_sql('users', con=engine, if_exists='replace',
...            index_label='id')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 6'), (1, 'User 7')]

Specify the dtype (especially useful for integers with missing values).
Notice that while pandas is forced to store the data as floating point,
the database supports nullable integers. When fetching the data with
Python, we get back integer scalars.

>>> df = pd.DataFrame({"A": [1, None, 2]})
>>> df
     A
0  1.0
1  NaN
2  2.0

>>> from sqlalchemy.types import Integer
>>> df.to_sql('integers', con=engine, index=False,
...           dtype={"A": Integer()})

>>> engine.execute("SELECT * FROM integers").fetchall()
[(1,), (None,), (2,)]
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method