In [ ]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},
     ['ineuron','data science']]

In [ ]:
# q3: try to extract all the list entity 
# q4: try to extract all the dict entity 
# q5: try to extract all the tuples entities 
# q6: try to extract all the numerical data it may be a part of dict key and values 
# q7: try to give summation of all the numeric data 
# q8: try to filter out all the odd values of all the numeric data which is a part of a list 
# q9: try to extract 'ineuron' out of this data 
# q10: try to find out a number of occurances of all the data 
# q11: try to find out number of keys in dict element 
# q12: try to filter out all the string data 
# q13: try to find out alphanum in the data 
# q14: try to find out the multiplication of all the numeric value in the individual collection inside dataset 
# q15: try to unwrap all the collection inside collection and create a flat list

In [58]:
# Answers q3
for i in l:
    if type(i)==list:
            print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [59]:
# s = set([1,2,3,3,4,56])

# for i in s:
#     print(i)

In [60]:
# Answers q4
for i in l:
    if type(i)==dict:
            print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [61]:
# Answers q5
for i in l:
    if type(i)==tuple:
            print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [62]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [63]:
# answer q6

num = []
for i in l:
    for j in i:
        if type(j)==int or type(j)==float:
            num.append(j)
            if type(i)==dict and type(i[j])==int:
                num.append(i[j])
                    
num

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [64]:
# d = [[2,3,4],{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}]

In [65]:
# for i in d:
#     for j in i:
#         if type(i)==dict: # and i[j]==int:
#             print(i[j])

In [66]:
# answer q7

sum = 0
for i in num:       # num list of all numerical data from q6
    sum += i
print(sum)

156

In [67]:
# answer q8

for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2 != 0:
                    print(j,end=' ')

1 3

In [68]:
# answer q9

for i in l:
    for j in i:
        if type(i)==list:
            if j == 'ineuron':
                print(j)
                
        if type(i)==dict:
            if i[j]=='ineuron':
                print(i[j])

ineuron
ineuron

In [69]:
# answer q10

li = []
for i in l:
    for j in i:
        li.append(j)
        if type(i)==dict:
            li.append(i[j])
            
for i in li:
    print(i,':',li.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 1
sudh : 1
k2 : 1
ineuron : 2
k3 : 1
kumar : 1
3 : 4
6 : 3
7 : 2
8 : 1
ineuron : 2
data science : 1

In [70]:
# answer 11

for i in l:
    if type(i)==dict:
        print(len(list(i.keys())))

5

In [71]:
# answer q12

for i in li:     # li from q10
    if type(i)==str:
        print(i,end=' ')

k1 sudh k2 ineuron k3 kumar ineuron data science

In [72]:
# answer q13

for i in li:     # li from q10
    if type(i)==str:
        if i.isalnum():
            print(i,end=' ')

k1 sudh k2 ineuron k3 kumar ineuron

In [73]:
# answer q14 -- incomplete

# mul = 1
# for i in l:
#     mul = 1
#     for j in i:
#         if type(j)==int:
#             mul *= j
#     print(mul)
    
    
# #     if type(i)==dict:
# #         for j in i:
# #             if type(j)==int:
# #                 mul *= j
# #             if type(i[j])==int:
# #                 mul *= i[j]
# #         print(mul)
# #         mul = 1

In [74]:
# answer q15

li = []
for i in l:
    for j in i:
        if type(i)==dict:
            li.append(i[j])
        else:    
            li.append(j)
print(li)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science']