In [3]:
#Reverse the array

In [7]:
def rev_arr(arr):
    for i in range(len(arr)):
        print(arr[len(arr)-1-i],end=" ")
        
rev_arr([3,52,6,7,8,4,4,6,7,4,9])

9 4 7 6 4 4 8 7 6 52 3

In [14]:
arr = [3,52,6,7,8,4,4,6,7,4,9]

In [16]:
arr

[3, 52, 6, 7, 8, 4, 4, 6, 7, 4, 9]

In [15]:
arr[::-1]

[9, 4, 7, 6, 4, 4, 8, 7, 6, 52, 3]

None

In [17]:
# Find the maximum and minimum element in an array

In [19]:
max(arr)

52

In [20]:
min(arr)

3

In [21]:
mn = 22286892695

for i in arr:
    if i < mn:
        mn = i
        
print(mn)

3

In [22]:
mx = -547875896

for i in arr:
    if i > mx:
        mx = i
        
print(mx)

52

In [25]:
# Kth max and min element of the array

for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[i] > arr[j]:
            temp = arr[i]
            arr[i] = arr[j]
            arr[j] = temp
            
            
print(arr)

[3, 4, 4, 4, 6, 6, 7, 7, 8, 9, 52]

In [26]:
for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[i] < arr[j]:
            temp = arr[i]
            arr[i] = arr[j]
            arr[j] = temp
                                                                                                                                           
            
print(arr)

[52, 9, 8, 7, 7, 6, 6, 4, 4, 4, 3]

In [27]:
order = list(set(arr))

In [28]:
order

[3, 4, 6, 7, 8, 9, 52]

In [29]:
order[-2]

9

In [32]:
lt = [1,2,5,5,5,7,8,54,3,3,3,34,78,9,34,3,4,65,67,854,32,7,7]

In [33]:
set(lt)

{1, 2, 3, 4, 5, 7, 8, 9, 32, 34, 54, 65, 67, 78, 854}

# set property

arrange array in increasing order and unique numbrer so can be used to find the nth min and max numbers

In [34]:
ar = [1,2,0,2,0,1,0,2,0,1,0,2,2,1,1,2,2,2,0,0]

In [35]:
sorted(ar)

[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2]

In [36]:
sorted(ar,reverse=True)

[2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]

In [39]:
# reversed(ar)

In [8]:
# Move all the negative elements to one side of the array

def move_arr(ar):
    ut = []
    for i in ar:
        if i < 0:
            ut.append(i)
            ar.remove(i)
            
    ar = ar + ut
    print(ar)

In [9]:
move_arr([-1,3,4,5-3,4,-4,-6,5,5,-6])

[3, 4, 2, 4, 5, 5, -6, -1, -4, -6]

In [14]:
def updated(ar):
    for i in range(len(ar)):
        if ar[i] < 0:
            el = ar.pop(i)
            ar.insert(0,el)
            
    print(ar)

In [15]:
updated([-1,3,4,5-3,4,-4,-6,5,5,-6])

[-6, -6, -4, -1, 3, 4, 2, 4, 5, 5]

In [31]:
# find the union and intersection of the two sorted arrays

class un_int:
    def __init__(self, ar1,ar2):
        self.ar1 = ar1
        self.ar2 = ar2
        
    def union(self):
        for i in self.ar1:
            if i in self.ar2:
                self.ar2.remove(i)

        print(ar1+ar2)


    def intersection(self):
        for i in self.ar1:
            if i not in self.ar2:
                self.ar1.remove(i)

        print(ar1)

In [32]:
ar1 = [1,23,4,5,6,3,5,4]
ar2 = [4,46,7,8,5,4,23,7,8,9,9,5]

In [33]:
task = un_int(ar1,ar2)

In [34]:
task.intersection()

[23, 4, 5, 3, 5, 4]

In [35]:
task.union()

[23, 4, 5, 3, 5, 4, 46, 7, 8, 7, 8, 9, 9]