## Task No: 1

In [27]:
s = "This is My First Python programming class and i am learNING python string and its function"

In [28]:
# 1. Try to extract data from index one to index 300 with a jump of 3
# 2. Try to reverse a string without using reverse function 
# 3. Try to split a string after conversion of entire string in uppercase
# 4. Try to convert the whole string into lowercase
# 5. Try to capitalize the whole string
# 6. Write a difference between isalnum() and isalpha()
# 7. Try to give an example of expand tab
# 8. Give an example of strip, lstrip and rstrip
# 9. Replace a string character by another charecter by taking your own example
# 10. Try to give definition of string center function with an example 
# 11. write your own definition of compiler and interpretor without copy paste from 
#     internet in your language
# 12. Python is a interpreted or compiled language give a clear ans with your understanding
# 13. Try to write a usecase of python with your understanding

In [30]:
# Ans 1

for i in range(1,len(s),3):
    print(s[i], end=" ")

h       r   t n r r m g l s n i m e N G y o s i   d t f c o

In [31]:
# Ans 2

s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si sihT'

In [36]:
# Ans 3

s1 = s.upper()
s1.split(" ")

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [38]:
# Ans 4

s.lower()

'this is my first python programming class and i am learning python string and its function'

In [39]:
# Ans 5

s.capitalize()

'This is my first python programming class and i am learning python string and its function'

#Ans 6

**isalnum()**: Return True if the string is an alpha-numeric string, False otherwise.

A string is alpha-numeric if all characters in the string are alpha-numeric and
there is at least one character in the string.


**isalpha()**: Return True if the string is an alphabetic string, False otherwise.

A string is alphabetic if all characters in the string are alphabetic and there
is at least one character in the string.

In [44]:
# Ans 7

text = "H\te\tl\tl\to"

x =  text.expandtabs(5)  # bydefault tab size will be 8, if no arguement is given

print(x)

H    e    l    l    o

In [51]:
# Ans 8

ss = "     withSpaces     "
print("String with spaces",":",ss)

# lstrip
s2 = "     spaceAtLeft"
print(s2.lstrip()) ## Spaces will going to be removed

# rstrip
s3 = "SpacesAtRight     "
print(s3.rstrip()) ## Spaces will going to be removed

# strip
s4 = "    SpacesAtBothSide     "
print(s4.strip()) ## Both side spaces will going to be removed

String with spaces :      withSpaces
spaceAtLeft
SpacesAtRight
SpacesAtBothSide

In [54]:
# Ans 9

st = "Example"
st[:3]+"Z"+st[4:]  # m is replaced by Z

'ExaZple'

In [59]:
# #Ans 10

# String Center function: Return a centered string of length width. Takes lenght and fill character as arguement 
# Padding is done using the specified fill character (default is a space).
    
# Example 

strg = "SSSSS"
strg.center(20)

'       SSSSS        '

#ans 11

**Compiler**: Compiler is used for high level programming language. 
    It translates the code written in high level language into machine language. 
    
**Interpreter**: interpreter directly executes instructions written in a programming, 
    without compiling the code into a machine language.

#Ans 12

Python is an interpreted language and not a compiled one. Python code, written in .py file is first converted to bytecode 
which is stored with a .pyc format. Instead of translating source code to machine code like C++. Python code it translated 
to bytecode. This bytecode is a low-level set of instructions that can be executed by an interpreter.  Instead of executing
the instructions on CPU, bytecode instructions are executed on a Virtual Machine.

#Ans 13 

Python usecases

Python has many usecases like it can be used in web development, software development, game development, AI applications, data science etc.

**Data Science** :
Data scientists use Python to extract, process and manipulate data via various Python libraries, 
such as Pandas and SciPy.This language is relatively easy to learn when used in conjunction with data. 
As such, Python skills are increasingly in demand across both big and small data-driven organizations.

## Task No: 2

In [4]:


l = [3,4,5,6,7, [23,456,67,8,78,78], [345,56,87,8,98,9], (234,6657,6), {"key1":"sudh", 234:[23,45,656]}]

# 1. try to reverse a list
# 2. try to access 234 out this list
# 3. try to access 456
# 4. try to extract only a list collection from list l
# 5. try to extract "sudh" 
# 6. try to list all the key in dict element available in list
# 7. try to extract all the value element from dict available in list

In [5]:
# Ans 1

l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [16]:
# Ans 2

for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j == 234:
                print("Yes")
                print("234 Found in",":",i)

Yes
234 Found in : (234, 6657, 6)

In [17]:
# Ans 3

for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j == 456:
                print("Yes")
                print("456 Found in",":",i)

Yes
456 Found in : [23, 456, 67, 8, 78, 78]

In [18]:
# Ans 4

for i in l:
    if type(i)==list:
        print(i)

[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]

In [20]:
# Ans 5 

for i in l:
    if type(i)==dict:
        print(i["key1"])

sudh

In [21]:
# Ans 6 

for i in l:
    if type(i)==dict:
        for j in i:
            print(j, end=" ")

key1 234

In [22]:
# Ans 7

for i in l:
    if type(i)==dict:
        for j in i:
            print(i[j], end=" ")

sudh [23, 45, 656]